body {
  background: url('https://img.freepik.com/foto-gratis/vista-superior-surtido-pasteles-dulces_23-2148516578.jpg?semt=ais_hybrid&w=740') no-repeat center center fixed;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container_login {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  opacity: 0.9;
}

.text p:first-child {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #333;
  text-align: center;
}

.text p:last-child {
  font-size: 14px;
  color: #0e0101;
  text-align: center;
  margin-bottom: 25px;
}

.form_register input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.form_register input:focus {
  outline: none;
  border-color: #3483fa;
}

.container_button_create_account {
  text-align: center;
  margin-top: 10px;
}

.button_create_account {
  background-color: #3483fa;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button_create_account:hover {
  background-color: #2968c8;
}

@media (max-width: 760px) {
  body {
    background-size: cover;
    overflow: hidden;

  }

  .container_login {
    padding: 20px;
    width: 85%;
  }

  .text p:first-child {
    font-size: 20px;
  }

  .text p:last-child {
    font-size: 12px;
  }

  .form_register input {
    padding: 10px;
    font-size: 12px;
  }

  .button_create_account {
    padding: 10px 15px;
    font-size: 14px;
  }
}