select {
  display: block;
  unicode-bidi: isolate;
}
main{
  padding: 80px 0px 0px 0px;
  margin: 0px;
}

body {
  background-color: #f7f7d8;
  margin: 0;
  padding: 0; 
  overflow-x: hidden; /* Aqui evitamos que el body tenga el desplazamiento horizaontal*/
}

.container-banner{
  width: 100vw; /* fuerza 100% del ancho visible */
  margin: 0;
  padding: 0;
  background-image: url(/resources/panaderia.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 290px;
}

.conteiner-main {
  height: 550px;
  margin-left: 78px;
  margin-right: 78px;
  padding: 10px;
}

.conteiner-row {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
}

.text-primary {
  color: aliceblue;
}

.conteiner-info{
  position: relative;
  left: 400px;
  width: auto;
  height: 30%;
  top: 70px;
}

.conteiner-button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 15px ;
  width: 350px;
  height: 60px;
  top: 60px;
  left: 30px;
}

.button {
  background-color: #e5eaf3;
  border-radius: 80px;
  color: rgb(7, 0, 0);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 19px;
  user-select: none;
}

.button:hover {
  background-color: #d1d1d1;
  color: rgb(255, 255, 255);
}

.text {
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-left: 50px;
}

