.product-grid {
    align-items: center;
    justify-content: center;  /*Center the items de manera horizonal*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .product-link-card{
    text-decoration: none;
    color: inherit; /* Hereda el color del padre */
  }
  
  .product-card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background: #0e0e00;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    position: relative; /* Importante para posicionar el menú encima de el menu (fav-cart) */
    overflow: hidden;
  }

  .product-card:img{ /*AQUI LE PONEMOS UN MEXIMO DE ANCHO Y ALTURA A LAS IMAGENES*/
  max-width: 200px;
  max-height: 150px;
  }

  .product-card:hover {
    box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
  } 

  .product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
  }

  .product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product-card strong {
    color: #3bbd08;
  }

  .menu-icon {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 40px;
    background-color: #eeeee9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    z-index: 10;
    opacity: 0.8; /* Opacidad para el icono del menú */
  }
  
  .menu-icon:hover {
    cursor: pointer;
  }

  .material-symbols-outlined:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease;
  }