.product-grid {
    align-items: center;
    justify-content: center;  /*Center the items de manera horizonal*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  }

  .product-card:hover {
    box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
  } 

  .product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
  }

  .product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product-card strong {
    color: #3bbd08;
  }